.topLineContainer {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.topLineCircle {
    width: 3rem;
    height: 3rem;
    background-color: gray;
    border-radius: 50%;
    border: 0.1rem solid black;
}