.navbarLogin {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}
.navbarLogin:hover {
    color: white;
    text-decoration: none;
}

.navbarUser {
    color: white;
    margin-top: 1rem;
    margin-right: 2rem;
}
.navbarUser:hover {
    color: white;
    text-decoration: none;
    background-color: none !important;
}