.dashboardContainer {
    display: flex;
    height: 89.5vh;
}
.firstColumn {
    background-color: rgb(92, 89, 89);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100% !important;
}
.firstColumn_header {
    display: flex;
    justify-content: center;
}
.firstColumn_header_picture {
    width: 2.5rem;
    height: 3rem;
    background-color:  rgb(216, 207, 207);
    margin: 3rem 1rem 0 0;
}
.firstColumn_header_title {
    margin-top: 3.7rem;
    color: white;
}
.firstColumn_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstColumn_footer_picture {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgb(216, 207, 207);
}
.firstColumn_footer_title {
    margin-top: 1rem;
    color: white;
}

.secondColumn {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.secondColumn_header {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem ;
}
.secondColumn_header_title {
    font-weight: bold;
    margin-left: 2.5rem;
    font-size: 2rem;
}
.secondColumn_header_button {
    margin-right: 12rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border:none;
}
.secondColumn_header_button:focus {
    outline: none;
}
.secondColumn_searchInput {
    margin: 2rem 12rem 0 2.5rem;
    height: 3rem;
    border-radius: 0.5rem; 
    background-color: lightgray;
    padding-left: 1rem;
}
.secondColumn_searchInput:focus {
    outline: none;
} 
.secondColumn_statusProyects_container {
    margin: 2rem 12rem 0 2.5rem ;
    border-bottom: 1px solid gray;
}
.secondColumn_statusProyects_onGoing {
 background-color: lightgray;
 border: none;
}
.secondColumn_statusProyects_onGoing:focus {
    outline: none;
    border-bottom: 2px solid black;
}
.secondColumn_statusProyects_finished {
    background-color: lightgray;
    border: none;
    margin-left: 2rem;
}
.secondColumn_statusProyects_finished:focus {
    outline: none;
    border-bottom: 2px solid black;
}
.table {
    margin: 2rem 12rem 0 2.5rem;
    width: auto !important;
}

.table_proyect_title {
    border-top: none !important;
    border-bottom: 1px solid black !important;
    text-align: center;
}
.table_type_title {
    border-top: none !important;
    border-bottom: 1px solid black !important;
    text-align: center;
}
.table_deadline_title {
    border-top: none !important;
    border-bottom: 1px solid black !important;
    text-align: center;
}
.td_type {
    border-bottom: 1px solid black !important;
    text-align: center;
}
.td_deadline {
    border-bottom: 1px solid black !important;
    text-align: center;
}
.td_proyect {
    border-bottom: 1px solid black !important;
    text-align: center;
}

.modal-proyect-header {
    background-color: rgb(77, 76, 76);
    color: white;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
}

.modal-proyect-footer {
    background-color: rgb(77, 76, 76);
    border: 0.1rem solid white;
}

.modal-form-control {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 0.1rem solid black !important;
}
.modal-form-control:focus {
    box-shadow: none !important;
}

.modal-button-save-proyect {
    color: white !important;
    background-color: rgb(77, 76, 76) !important;
    border: 0.1rem solid rgb(77, 76, 76) !important;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}
.modal-button-save-proyect:focus {
    box-shadow: none !important;
    color: white;
    background-color: rgb(77, 76, 76);
    border: 0.1rem solid rgb(77, 76, 76);
} 
.modal-button-save-proyect:hover {
    color: white;
    background-color: rgb(77, 76, 76);
    border: 0.1rem solid rgb(77, 76, 76);
} 

.modal-button-close {
    color: rgb(241, 182, 20) !important;
    background-color: rgb(77, 76, 76) !important;
    border: 0.1rem solid rgb(77, 76, 76) !important;
} 
.modal-button-close:focus {
    box-shadow: none !important;
    color: rgb(241, 182, 20);
    background-color: rgb(77, 76, 76);
    border: 0.1rem solid rgb(77, 76, 76);
} 
.modal-button-close:hover {
    color: rgb(241, 182, 20);
    background-color: rgb(77, 76, 76);
    border: 0.1rem solid rgb(77, 76, 76)black;
} 
